body{
   
      background: -webkit-gradient(radial, center center, 0, center center, 460, from(#F7F7F7), to(#FFFFFF));
      background: -webkit-radial-gradient(circle, #F7F7F7,#FFFFFF );
      background: -moz-radial-gradient(circle, #F7F7F7, #FFFFFF);
      background: -o-radial-gradient(circle, #F7F7F7, #FFFFFF);
      background: -ms-radial-gradient(circle, #F7F7F7, #FFFFFF);
      background: radial-gradient(circle, #F7F7F7, #FFFFFF);
      background-color: #F7F7F7 !important;
}

#page {
    padding-top: 60px;
}

.cursor-pointer{
    cursor:pointer;
}


.nav {
margin-bottom: 0px !important;
}

.nav-list>li>a {
color: #3F5666 !important;
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {

}


.nav-tabs {
   border-bottom: 1px solid lightgray !important;
}

.tab-content {
    background-color: #FFFFFF;
padding:10px;
border: 1px solid lightgray !important;
border-top: transparent !important;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {

/*border: 1px solid #EA6045 !important;*/
/*border-bottom-color: transparent !important;*/
cursor: default;
}
.portlet-decoration{
    background-color:#08C ;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 2px;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-left: solid 1px lightgray;
    border-right: solid 1px lightgray;
    border-top: solid 1px lightgray;
}
.portlet-content{ 
    padding:5px;
   /*background-color: #F5E5C0;*/
   border-left: solid 1px lightgray;
   border-right: solid 1px lightgray;
   border-bottom: solid 1px lightgray;
   border-bottom-left-radius: 0.5em;
   border-bottom-right-radius: 0.5em;
   
}
